.cardItem{
    background-color: khaki !important;
}
.cardSelected{
    background-color: lightpink !important;
}

.errorControl{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
